*{
    font-family: 'Segoe UI', sans-serif;
}
a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    color: #ac268a;
    font-size: 20px;
    font-weight: bold;
}
.background{
    background-image: url(../img/playades.jpg);
    background-repeat: no-repeat;
    padding: 275px;
}
body{
    padding: 8px;
}
.buttons{
    padding-top: 15px;
}
#descriptions, #galery, #hotels{
    padding: 10px 30px;
}
.destiny-description{
    padding-top: 20px;
    text-align: justify;
}
.details, .hotel{
    background-color: #610048;
    border: 1px solid #b7aec9;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 15px 75px;
    text-decoration: none;
}
.details:hover, .hotel:hover {
    background-color: #ac268a;
    border: 1px solid #b7aec9;
    color: white;
}
footer{
    background-color: #610048;
    height: 80px;
    margin-top: 12px;
}
h1 {
    font-size: 50px;
}
h2{
    background-color: #cfB0c7;
    border: 1px solid #b7aec9;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
header{
    background-color: #610048;
    height: 80px;
    margin-bottom: 12px;
}
p{
    line-height: 28px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}
.photos{
    border: 1px solid black;
    display: inline-block;
    height: 500px;
    margin-left: 65px;
    width: 500px;
}
span{
    font-weight: bold;
}
ul{
    list-style: none;
    padding-left: 15px;
    padding-right: 20px;
    text-align: justify;
}
